.anchor {
	color: #fb3311;
	text-decoration: none;
	cursor: pointer;
}

.anchor:hover {
	text-decoration: underline;
}

.card {
	padding: 32px;
	border-radius: 4px;
	background-color: #FFFFFF;
	box-shadow: 0 0 4px rgba(0, 40, 77, 0.2);
	margin-bottom: 20px;
}

.card-content {
	padding: 32px;
}

.card-header {
	padding: 0px 0px 24px 0px;
}

.col-2 {
	width: 20%;
}

.col-8 {
	width: 80%;
}

.col-45 {
	width: 45%;
}

.col-50 {
	width: 50%;
}

.col-49 {
	width: 49%;
}

col-1 {
	width: 10%;
}

.menu-options {
	display: flex;
	padding-top: 8px;
}

.option {
	border: none;
	padding: 6px 10px;
	margin: 0 4px;
	font-size: 12px;
	color: #6a7680;
}

.option:hover {
	background-color: #E4F1FB;
	border-radius: 4px;
	text-decoration: underline;
	cursor: pointer;
}

.options {
	display: flex;
	align-items: center;
}

.divider {
	border-left: 1px solid #dce1e5;
	height: 15px;
}

.right {
	float: right;
}

.box {
	border: 1px solid #dce1e5;
	border-radius: 4px;
	padding: 16px;
	margin-top: 28px;
	margin-bottom: 16px;
}

.box-squared {
	border: 1px solid #DCE1E5;
	padding: 16px;
}

.table-row {
	display: flex;
	flex-direction: row;
}

.little {
	font-size: 12px;
}

.dark {
	color: #444;
}

.tab-15 {
	margin-left: 15px;
}

.tab-150 {
	margin-left: 150px;
}

.show-caret {
	background-image: url(../img/caret-orange.svg);
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 18px;
}

.space-bottom-15 {
	margin-bottom: 15px;
}

body {
	font-family: Inter, sans-serif;
}

.message {
	padding: 15px 9px 15px 40px;
	margin-bottom: 10px;
	background-color: #e5fff2;
	border-left: 3px solid #3cb27a;
	background-image: url('../img/alert-confirmation.svg');
	background-repeat: no-repeat;
	background-position: 10px 15px;
	font-size: 14px;
}

.empty-60 {
	height: 60px;
}

.empty-30 {
	height: 30px;
}

.input {
	outline: none;
	padding: 6px 10px;
	border-radius: 4px;
	border: 1px solid #d9d9d9;
}

.input:hover {
	border: 1px solid #000000;
}

.field-row {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}

.col-150 {
	width: 150px;
}

.textarea {
	border: 1px solid #dce1e5;
	border-radius: 4px;
	padding: 8px 16px;
}

.textarea:hover,
.textarea:focus,
.textarea:focus-visible {
	border: 1px solid #6a7680;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.hline {
	border: 1px solid #dce1e5;
}

.bold {
	font-weight: 600;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.member-code-area {
	display: flex;
	justify-content: space-between;
}

.selection {
	border-radius: 4px;
	color: #000000;
	height: 32px;
	min-width: 70px;
	padding-left: 12px;
	padding-right: 32px;
}

.closed {
	max-height: 0;
	overflow: hidden;
}

.opened {
	max-height: 1500px;
	overflow: hidden;
}

.accord {
	transition: max-height 0.7s linear;
}

.tab-btn-container {
	background-color: #e8eaee;
	color: #6a7680;
}

.tab-btn {
	font-size: 14px;
	font-weight: 600;
	padding: 18px 24px;
	color: #6a7680;
}

.tab-btn-on {
	background-color: #FFFFFF;
	color: #fb3311;
	border-top: 2px solid #fb3311;
}

.tab-btn-off:hover {
	background-color: #f6f6f8;
}

.no-padding {
	padding: 0;
}

.badge {
	padding: 6px;
	background-color: rgba(251, 54, 24, .05);
	font-size: 10px;
	border-radius: 150px;
}

.hidden {
	display: none;
}

.explication {
	color: #6a7680;
	font-size: 12px;
}

.members-tab-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 300px;
}

.members-tab-content p {
	margin-bottom: 20px;
}

.simple-row {
	padding: 18px 24px;
	border-bottom: 1px solid #dce1e5;
}