.table {
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 0 3px rgba(0, 40, 77, 0.2);
}

.row {
	border-bottom: 1px solid #dce1e5;
	padding: 18px 24px;
}

.utilities {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 16px 24px;
}

.col-6 {
	width: 60%;
}

.col-4 {
	width: 40%;
}

.col-3 {
	width: 30%;
}

.input {
	padding: 6px 10px;
	border-radius: 4px;
	border: 1px solid #d9d9d9;
	outline: none;
}

.new-btn-cnt {
	display: flex;
	justify-content: flex-end;
}

.link {
	color: #444;
	font-size: 12px;
	padding: 8px 12px;
}

.link:hover {
	text-decoration: underline;
	cursor: pointer;
}

.link-orange {
	color: #fb3311;
}

.row-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.row-content:hover {
	background-color: #e4f1fb;
	cursor: pointer;
}

.accordion {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.accordion-content {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.5s ease-in-out;
}

.opened {
	max-height: max-content;
}

.closed {
	max-height: 0px;
}

.hidden {
	display: none !important;
}

.name-actions {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.name-section {}

.status-info {
	background-color: #e6fff2;
	color: #349968;
	padding: 5px 5px;
}

.sub-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 24px;
}

.sub-rows {
	display: flex;
	flex-direction: column;
}

.assign-count {
	padding: 18px 24px;
}

.assign {
	padding: 16px 14px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.action {
	margin-left: 10px;
}

.tab-20 {
	margin-left: 20px;
}

.little {
	font-size: 12px;
}